<div class="title top-page">
    
    <div class ="text-center">
        <h3>ぽじてぃぶ・たぬき β</h3>
        <p><small>〜ポジティブなことばでたぬきを元気づけよう〜</small></p>
        <p>つかれたときそっとひらくと一息つけるサイトです。匿名投稿も可能。</p>
    </div>
    
    <hr class="my-4">
    
    <h6>☆元気づけの例☆</h6>
    <div class="balloon">
        <table>
        <tr>
        <td style="vertical-align: top;"><img class="tanuki-image" border="0" src="<%= asset_path "tanuki_sad_a_tri.png" %>" alt="たぬき悲しみ"></td>
        <td><div class="sad-balloon">
            <span class="twi-link"><mark>@sad-tanuki</mark></span>
            <p class="tanu-word">つかれた…。山に帰りたい…。</p>
        </div></td>
        </tr>
        </table>
    </div>
    
    <div class="balloon">
        <table>
        <tr>
        <td style="vertical-align: top;"><img class="tanuki-image" border="0" src="<%= asset_path "tanuki_happy_a_tri.png" %>" alt="たぬき励まし"></td>
        <td><div class="glad-balloon">
            <span class="twi-link"><mark>@glad-tanuki</mark></span>
            <p class="tanu-word">まぁ元気だせや。いいこともあるで。</p>
        </div></td>
        </tr>
        </table>
    </div>
    
    <hr class="my-4">
    
    <div class ="text-center">
        <p>ログインして他のたぬきから元気づけてもらおう。</p>
        <a class="btn btn-primary btn-lg" href="<%= tanuki_sad_words_url %>" role="button"> Twitterでログイン</a>
    </div>
</div>
    
<div class ="sub-content">
    <h5><mark>最近のたぬきのことば</mark></h5>    
    <p>ここにポジティブな投稿を時間でソートして配置</p>
</div>

<div class ="sub-content">
    <h5><mark>たぬきの元気づけ</mark></h5>    
    <p>ここにかなしいことばとポジティブな言葉をセットでおく</p>
</div>


