<div class="title jumbotron">
    <h1>たぬきの励ましβ</h1>
    <p>このページはおっかむりをつけたたぬきがひたすらに励ましてくれるページです。</p>
    <img border="0" src="<%= asset_path "tanuki_happy_a_tri.png" %>" width="128" height="128" alt="たぬき励まし">
    <img border="0" src="<%= asset_path "tanuki_sad_a_tri.png" %>" width="128" height="128" alt="たぬき悲しみ">
</div>
