<div class="title top-page">
    
    <div class ="text-center">
        <h1>ぽじてぃぶ・たぬき β</h1>
        <p><small>〜ポジティブなことばでたぬきを元気づけよう〜</small></p>
        <p>自分や他のたぬきへ元気が出る言葉を投げかけ、つかれたときそっとひらくと一息つけるサイトです。</p>
    </div>
    
    <hr class="my-4">
    
    <h4>☆元気づけの例☆</h4>
    <div class="balloon">
        <div class="tanuki-image">
            <img  border="0" src="<%= asset_path "tanuki_sad_a_tri.png" %>" width="128" height="128" alt="たぬき悲しみ">
        </div>
        <div class="sad-balloon">
            つかれた…。山に帰りたい…。
        </div>
    </div>
    
    <div class="balloon">
        <div class="tanuki-image">
            <img border="0" src="<%= asset_path "tanuki_happy_a_tri.png" %>" width="128" height="128" alt="たぬき励まし">
        </div>
        <div class="glad-balloon">
            生きてるだけでもうけもん。なんとかなるさ。
        </div>
    </div>
    
    <hr class="my-4">
    
    <div class ="text-center">
        <p>ログインして他のたぬきから元気づけてもらおう。</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Twitterでログイン</a>
    </div>
</div>
    
<div class ="sub-content">
    <h2><mark>最近のたぬきのことば</mark></h2>    
    <p>ここにポジティブな投稿を時間でソートして配置</p>
</div>

<div class ="sub-content">
    <h2><mark>たぬきの元気づけ</mark></h2>    
    <p>ここにかなしいことばとポジティブな言葉をセットでおく</p>
</div>


