// Place all the styles related to the TanukiPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'TnuFon';
  src: font-url('TanukiMagic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ----------------[S]BASE---------------- */

* {
    font-family: "TnuFon", cursive;
}


.title {
    padding: 10;
    margin: 10px;
}

.top-page{
  border: solid #008000;
  border-radius: 10%;
  padding:10px;
  
}

.tanuki-image{
   width: 50px;
   height: auto;
   float: left;

}
.balloon{
    position: relative;
    display: block;
    margin: 10px;
}

.tanu-word{
  font-size: 8px;
}

.twi-link{
  font-size: 8px;
  color: #2E8B57	;
}

.balloon:after {
    content: "";
    display: block;
    clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.balloon {
    zoom: 1;
}

.sub-content{
  margin:30px;
}

@mixin nomal-balloon(){
  float: left;
  position: relative;
  display: block;
  padding: 5px;
  margin-left: 55px;
  margin-right: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;  /*webkit系*/
  -moz-box-sizing: border-box;  /*Firefox*/
}

/* ----------------[E]BASE---------------- */

/* ----------------[S]悲しみつぶやき---------------- */

/* 吹き出し本体 */
.sad-balloon{
  @include nomal-balloon();
  padding: 10px;
  background-color: #ade0ff;
  border-radius: 20px;
}
/* 大きい丸 */
.sad-balloon::before{
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #ade0ff;
  left: -35px;
  top: 10px;
  width: 30px;
  height: 30px;
}
/* 小さい丸 */
.sad-balloon::after{
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #ade0ff;
  left: -50px;
  top: 13px;
  width: 15px;
  height: 15px;
}

/* ----------------[E]悲しみつぶやき---------------- */

/* ----------------[S]はげましつぶやき---------------- */
/* 吹き出し本体 - 枠線付きの吹き出し */
.glad-balloon{
  @include nomal-balloon();
  background-color: #FFE4E1;
  border: 2px solid #ca8888;
  border-radius: 10px;         /* 角丸を指定 */

  // margin-top:30px;
}
/* 三角アイコン - 枠線付きの吹き出し */
.glad-balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #ca8888;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.glad-balloon::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -12px;
  top: 20px;
  border-right: 15px solid #FFE4E1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

/* ----------------[E]はげましつぶやき---------------- */


/* ----------------[S]Footer---------------- */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* ----------------[E]Footer---------------- */