<footer class="footer">
  <small>
    The TanukiApp
    by <a href="https://twitter.com/kobutodo">@kobutodo</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About/Contact",   'http://kobuyarou.fakefur.jp/kobupage/kobinfo/' %></li>
    </ul>
  </nav>
</footer>