<header class="header">
  <a id="logo" href="#">
    <img src=<%= asset_path "aicon-leaf.png" %> class="align-top" id="logo-image" alt="ぽじたぬ">
    <span style="padding-left:3px;">ぽじたぬ</span>
  </a>
  
  <nav>
    <ul id="logo-menu">
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "Log in", '#' %></li>
    </ul>
  </nav>
  
</header>